body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* Important variables to be visualized
Intensity
Likelihood
Relevance
Year
Country
Topics
Region
City  */

/* Filters in the dashboard
Add end year filter in the dashboard
Add topics filters in the dashboard
Add sector filter in the dashboard
Add region filter in the dashboard
Add PEST filter in the dashboard
Add Source filter in the dashboard
Add SWOT filter in the dashboard
Country
City
Any other control or filters that you can add from the data, best of your knowledge  */
